doctype html
html
    head
        title "logowanie Google"
    body
        div
            h1 Welcom to Google site.
            h2 Log in here.
        form(action='/signin',method='GET')
            button(type='submit') Login